[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yahoo-fin = "*"
pandas = "*"
pymongo = "*"
dash = "*"
plotly = "*"
dash-bootstrap-components = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
